Repository lwmacct/251203-vm-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-docs, golangci-lint, config-sync, prettier

build-docs:
  name: Build VitePress docs
  entry: env CI=true NO_COLOR=1 TERM=dumb npm run build --prefix docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: Run golangci-lint on new changes
  entry: golangci-lint run --new --fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

config-sync:
  name: Sync and validate config files
  entry: go test -run "TestGenerateExample|TestConfigKeysValid" ./internal/infrastructure/config/...
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Format docs and configs with Prettier
  entry: prettier --write --ignore-unknown
  language: system
  stages:
  - pre-commit

refactor: 使用 Before 钩子集中加载配置
  internal/command/command.go
  internal/command/export/action.go
  internal/command/export/command.go
  internal/command/import/action.go
  internal/command/import/command.go
  internal/command/query/action.go
  internal/command/query/command.go
  internal/config/loading.go
  internal/version/version.go
Due: golangci-lint

chore 2025-12-06 00:47:02 CST
  internal/version/version.go
Due: golangci-lint

chore 2025-12-06 01:00:29 CST
  docs/content/readme.md
  docs/package-lock.json
Due: build-docs, prettier

chore 2025-12-06 01:03:21 CST
  docs/content/readme.md
Due: build-docs, prettier

chore 2025-12-06 03:34:27 CST
  internal/config/loading.go
  internal/vmapi/resty.go
Due: golangci-lint

chore 2025-12-06 04:24:49 CST
  cmd/mc-metrics/main.go
  internal/command/completion/bash.go
  internal/command/completion/completion.go
  internal/command/completion/zsh.go
Due: golangci-lint

chore 2025-12-06 23:09:13 CST
  cmd/vm-export/main.go
  cmd/vm-import/main.go
  cmd/vm-metrics/main.go
  cmd/vm-query/main.go
  docs/content/guide/design.md
  docs/content/readme.md
  go.mod
  internal/command/command.go
  internal/command/export/action.go
  internal/command/export/command.go
  internal/command/import/action.go
  internal/command/import/command.go
  internal/command/query/action.go
  internal/command/query/command.go
  internal/output/csv.go
  internal/output/graph.go
  internal/output/json.go
  internal/output/table.go
  internal/output/writer.go
Due: build-docs, golangci-lint, prettier

chore 2025-12-07 16:37:02 CST
  cmd/vm-metrics/main.go
  go.mod
  go.sum
  internal/command/command.go
  internal/command/export/command.go
  internal/command/import/command.go
  internal/command/query/command.go
  internal/version/command.go
  internal/version/version.go
Due: golangci-lint

chore 2025-12-07 17:09:47 CST
  cmd/vm-metrics/main.go
  go.mod
  go.sum
  internal/command/command.go
  internal/command/export/command.go
  internal/command/import/command.go
  internal/command/query/command.go
Due: golangci-lint

chore 2025-12-07 22:19:02 CST
  .gitignore
  .taskfile/cmd.yml
  .taskfile/env.yml
  .taskfile/git.yml
  .taskfile/go.yml
  Taskfile.yml
Due: none

Path conditions:
  build-docs: any of: ^docs/
  golangci-lint: any of: \.go$
  config-sync: any of: ^(internal/infrastructure/config/config\.go|configs/config\.yaml)$
  prettier: any of: ^(docs/|config/)
